<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="greet">
        <span style="color: #f5deb3">Hi!! I am</span>
        <h1>Varun Sharma</h1>
        <img class="image" src="assets/images/profile3.png" alt="">
      </div>
    </div>
    <div class="col-sm-3 contacts">
      <p>Contacts</p>
      <p><small>Email: </small><span>vsharma226@gmail.com</span></p>
      <p><small>LinkedIn: </small><span><a target="_blank" href="https://www.linkedin.com/in/varun-sharma226">varun-sharma226</a></span></p>
      <p><small>GitHub: </small><span><a target="_blank" href="https://github.com/vsharma2266">vsharma2266</a></span></p>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="intro">I am a
        <h2>Software Developer</h2> based in
        <h2>USA</h2> who <h2> Loves</h2>
        <h2> Developing Websites</h2> and have been doing it for around
        <h2>Eight Years</h2>.</div>
    </div>
  </div>
  <div class="toggle">
    <span class="toggle-button" [class.selected]="activeComponent === 'timeline'" (click)="onSwitch('timeline')">Timeline</span>
    <div class="arrow" [ngClass]="activeComponent === 'timeline' ? 'arrow-left' : 'arrow-right' ">
        <span class="line"></span><span class="pointer"></span>
    </div>
    <span class="toggle-button" (click)="onSwitch('tree')"  [class.selected]="activeComponent === 'tree'" >Skill Tree</span>
  </div>
  <portfolio-timeline *ngIf="activeComponent==='timeline'"></portfolio-timeline>
  <portfolio-weighted-tree *ngIf="activeComponent==='tree'"></portfolio-weighted-tree>
</div> -->

<form [formGroup]="inputForm" (ngSubmit)="submit()"> 
  <label>First Name</label>
  <input class="form-control" formControlName="firstName">
  <span *ngIf="inputForm.get('firstName').invalid && inputForm.get('firstName').touched">Please add the first name</span>
  <label>Last Name</label>
  <input class="form-control" formControlName="lastName">
  <span *ngIf="inputForm.get('lastName').invalid && inputForm.get('lastName').touched">Please add the last name</span>
  <label>Eid</label>
  <input class="form-control" formControlName="eid">
  <span *ngIf="inputForm.get('eid').invalid && inputForm.get('eid').touched">Please add the EID</span>
  <label>Email</label>
  <input class="form-control" formControlName="email">
  <span *ngIf="inputForm.get('email').invalid && inputForm.get('email').touched">Please add the Email</span>
  <button type="submit" [disabled]=isSubmitDisabled()>Submit</button>
</form>